/* popup.css */
body {
  background-color: lightgray;
  text-align: center;
  font-weight: bold;
  width: 300px;
  min-height: 200px;
  font-family: "noto sans", "sans-serif";
  padding: 15px;
  margin: 0;
}

/* All views are hidden by default */
.view {
  display: none;
  flex-direction: column;
  gap: 15px; /* Consistent spacing for all views */
}

/* When this class is added via JS, the view becomes visible and flexible */
.view.active {
  display: flex;
}

.back-btn {
  align-self: flex-start;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  margin-bottom: 5px;
  text-decoration: underline;
  font-family: "noto sans", "sans-serif"
}

.open-settings-btn {
  font-family: "noto sans", "sans-serif"
}

.color-sliders-btn {
  font-family: "noto sans", "sans-serif"
}

button:not(.back-btn) {
  padding: 10px;
  cursor: pointer;
}

/* Ensure sliders take up full width of the column */
input[type="range"] {
  width: 100%;
  cursor: pointer;
}
